* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

html,
body {
  max-width: 100vw;
  color: #333333;
  overflow-x: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.block {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0px;
}
